@font-face {
    font-family: 'Segoe';
    src: url(resources/fonts/segoeui.ttf)
}

.App {
    text-align: center;
    height: 100vh;
    padding: 10px;
    font-family: 'Segoe', serif;
    color: #34373d;
}